<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/newmain.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" />

</head>
<body>
<img id="img" src= "images/image.png"/>
<div id="cover">

    <form action="#" th:action="@{/search}" th:object="${search}" method="post">
        <div class="tb">
            <div class="td"><input type="text" th:field="*{content}" placeholder="Search" required></div>

        </div>

    </form>

</div>
</body>
</html>